<div class="row">
    <div class="col-md-3">
        <div class="navbar">
            <div class="navbar-inner">
                <ul class="nav">
                    <li ng-repeat="item in menu">
                        <input type="checkbox" ng-model="item.checked" ng-show="$index > 1" style="float: left; display: inline; margin-top: 14px; margin-left: -15px;">
                        <a ui-sref="{{ item.url }}">{{ item.name }}<span class="badge pull-right" ng-class="{'progress-bar-success': item.checked }">{{ $eval(item.count) }}</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="column col-md-9">
        <div class="checkbox" ng-if="menuItem.url.indexOf('.home') == -1 && menuItem.url.indexOf('.basic') == -1">
            <label>
                <input type="checkbox" ng-model="menuItem.checked">
                <span ng-class="menuItem.checked ? 'label-danger' : 'label-success'" class="label"><span ng-show="!menuItem.checked">Activate Offers</span> <span ng-show="menuItem.checked">Deactivate Offers</span></span>
            </label>
        </div>
        <div s2c-disabled="!menuItem.checked" >
            <ui-view></ui-view>
        </div>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="business-management/business-management.css"/>
