<div class="page-header">
    <h2>Manage Business Information <small ng-bind="subtitle">Subtitle </small></h2>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="navbar">
            <div class="navbar-inner">
                <ul class="nav">
                    <li ng-repeat="item in menu">
                        <a ui-sref="{{ item.url }}">{{ item.name }}<span class="badge pull-right">{{ $eval(item.count) }}</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="column col-md-9">
        <div class="checkbox" ng-if="menuItem.url.indexOf('.home') == -1 && menuItem.url.indexOf('.basic') == -1">
            <label>
                <input type="checkbox" ng-model="menuItem.checked">
                <span ng-class="menuItem.checked ? 'label-success' : 'label-primary'" class="label">Activate Offers</span>
            </label>
        </div>
        <div s2c-disabled="!menuItem.checked" >
            <ui-view></ui-view>
        </div>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="business-management/business-management.css"/>
