<div class="page-header">
    <h2>Manage Personal Information <small ng-bind="subtitle">Subtitle </small></h2>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="navbar">
            <div class="navbar-inner">
                <ul class="s2c-nav">
                    <li ng-repeat="item in menu">
                        <div ng-click="handleCheck(item)">
                            <a ng-if="item.url.indexOf('.home') != -1 || item.url.indexOf('.basic') != -1" href="">{{ item.name }}</a>
                            <input ng-if="item.url.indexOf('.home') == -1 && item.url.indexOf('.basic') == -1" type="checkbox" ng-model="item.checked">
                            <a ng-if="item.url.indexOf('.home') == -1 && item.url.indexOf('.basic') == -1" href="">{{ item.name }}<span class="badge pull-right">{{ $eval(item.count) }}</span></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="column col-md-9">
        <div s2c-disabled="!menuItem.checked" >
            <ui-view></ui-view>
        </div>
    </div>
</div>