<div class="panel panel-default s2c-margin-top s2c-padding">
    <div class="row clearfix">
        <div class="col-md-2">
            Minimum Weight:
            <input type="text" id="min"
                   ng-model="packageOffer.minimumWeight"
                   style="width: 85px;"
                   class="form-control"/>
            Maximum Size:
            <input type="text" id="maxSize"
                   ng-model="packageOffer.maximumSize"
                   style="width: 85px;"
                   class="form-control"/>
        </div>
        <div class="col-md-3">
            Maximum Weight:
            <input type="text" id="max"
                   ng-model="packageOffer.maximumWeight"
                   style="width: 85px;"
                   class="form-control"/>
            Package Category:
            <select class="form-control" style="width:85px" ng-model="packageOffer.category" ng-options="c for c in ['A','B', 'C']">
            </select>
        </div>
        <div class="col-md-2">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="packageOffer.pickup">
                    Pickup
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="packageOffer.special">
                    Special
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="packageOffer.active">
                    Active
                </label>
            </div>
        </div>

        <div class="col-md-5">
            <region-selector selected="selected" columns="2"></region-selector>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-12">
            <textarea class="form-control" rows="3" ng-model="packageOffer.description"></textarea>
        </div>
    </div>
    <br/>
    <div style="height: 30px;">
        <button class="btn pull-right" ng-click="savePackageOffer()">Save</button>
    </div>
</div>
<div class="row clearfix">
    <div class="col-md-12">

        <table class="table table-striped">
            <thead>
            <tr>
                <th>
                    Minimum Weight
                </th>
                <th>
                    Maximum Weight
                </th>
                <th>
                    Maximum Size
                </th>
                <th>
                    Package Category
                </th>
                <th>
                    Pickup
                </th>
                <th>
                    Special
                </th>
                <th>
                    Active
                </th>
                <th>
                    Edit
                </th>
                <th>
                    Del
                </th>
            </tr>
            </thead>

            <tbody ng-show="packageOffers == null ||packageOffers.length == 0">
                <tr>
                    <td colspan="8">There are no offers yet</td>
                </tr>
            </tbody>

            <tbody ng-show="packageOffers.length > 0">

            <tr ng-repeat="offer in packageOffers"
                ng-class-even="'active'">
                <td>
                    {{offer.minimumWeight}}
                </td>
                <td>
                    {{offer.maximumWeight}}
                </td>
                <td>
                    {{offer.maximumSize}}
                </td>
                <td>
                    {{offer.category}}
                </td>
                <td>
                    {{offer.pickup}}
                </td>
                <td>
                    {{offer.special}}
                </td>
                <td>
                    {{offer.active}}
                </td>
                <td>
                    <a href="" ng-click="editPackageOffer($index)">Edit</a>
                </td>
                <td>
                    <a href="" ng-click="deletePackageOffer($index)">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
