<div class="panel panel-default s2c-margin-top s2c-padding">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="arrivalPort">Arrival Port</label>
                <input type="text" class="form-control" id="arrivalPort" placeholder="Arrival Port" ng-model="flightOffer.arrivalPort">
            </div>
            <div class="form-group">
                <label for="departurePort">Arrival Port</label>
                <input type="text" class="form-control" id="departurePort" placeholder="Departure Port" ng-model="flightOffer.departurePort">
            </div>
        </div>
        <div class="col-md-2">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="flightOffer.special">
                    Special
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="flightOffer.active">
                    Active
                </label>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-12">
            <textarea class="form-control" rows="3" ng-model="flightOffer.description"></textarea>
        </div>
    </div>
    <br/>
    <div style="height: 30px;">
        <button class="btn pull-right" ng-click="saveFlightOffer()">Save</button>
    </div>
</div>
<div class="row clearfix">
    <div class="col-md-12">

        <table class="table table-striped">
            <thead>
            <tr>
                <th>
                    Arrival Port
                </th>
                <th>
                    Departure Port
                </th>
                <th>
                    Last updated
                </th>
                <th>
                    Special
                </th>
                <th>
                    Active
                </th>
                <th>
                    Edit
                </th>
                <th>
                    Del
                </th>
            </tr>
            </thead>

            <tbody ng-show="flightOffers == null ||flightOffers.length == 0">
                <tr>
                    <td colspan="7">There are no offers yet</td>
                </tr>
            </tbody>

            <tbody ng-show="flightOffers.length > 0">

            <tr ng-repeat="offer in flightOffers"
                ng-class-even="'active'">
                <td>
                    {{offer.arrivalPort}}
                </td>
                <td>
                    {{offer.departurePort}}
                </td>
                <td>
                    {{offer.lastUpdated}}
                </td>
                <td>
                    {{offer.special}}
                </td>
                <td>
                    {{offer.active}}
                </td>
                <td>
                    <a href="" ng-click="editFlightOffer($index)">Edit</a>
                </td>
                <td>
                    <a href="" ng-click="deleteFlightOffer($index)">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
