<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class=" col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" id="name" name="name" ng-model="personal.name"
                                   class="form-control" placeholder="Name"/>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="gender">Gender</label>
                            <select  class="form-control" ng-model="personal.gender" id="gender">
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="phone">Phone</label>
                            <input type="text" id="phone" name="phone" ng-model="personal.phone"
                                   class="form-control" placeholder="Phone"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="address">Location</label>
                            <input type="text" id="address" class="form-control" ng-autocomplete="result" details="details" options="options"/>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="personal.disclose">
                                Disclose
                            </label>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <label>Your Current Location:</label>
                                <span>{{ personal.location == undefined ? 'None' : personal.location }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <button class="btn pull-right btn-success" ng-click="saveBasicInformation()">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>