<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label for="price">Price</label>
                    <input type="number" id="price"
                           ng-model="callOffer.price"
                           class="form-control"/>
                </div>
            </div>
            <div class="col-md-2">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="callOffer.special">
                        Special
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="callOffer.active">
                        Active
                    </label>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-12 form-group">
                <label>Description</label>
                <textarea class="form-control" rows="3" ng-model="callOffer.description"></textarea>
            </div>
        </div>
        <br/>
        <div>
            <button class="btn btn-success pull-right" ng-click="saveCallOffer()">Save</button>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-md-12">

        <table class="table table-striped">
            <thead>
            <tr>
                <th>
                    Price
                </th>
                <th>
                    Description
                </th>
                <th>
                    Special
                </th>
                <th>
                    Active
                </th>
                <th>
                    Edit
                </th>
                <th>
                    Del
                </th>
            </tr>
            </thead>

            <tbody ng-show="callOffers == null ||callOffers.length == 0">
                <tr>
                    <td colspan="5">There are no offers yet</td>
                </tr>
            </tbody>

            <tbody ng-show="callOffers.length > 0">

            <tr ng-repeat="offer in callOffers"
                ng-class-even="'active'">
                <td>
                    {{offer.price}}
                </td>
                <td>
                    {{offer.description}}
                </td>
                <td>
                    {{offer.special}}
                </td>
                <td>
                    {{offer.active}}
                </td>
                <td>
                    <a href="" ng-click="editCallOffer($index)">Edit</a>
                </td>
                <td>
                    <a href="" ng-click="deleteCallOffer($index)">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
