<!doctype html>
<html lang="en" ng-app="app">
<head>
  <title>Sent2Cuba</title>
  <script src="../libraries/bower_components/angular/angular.js"></script>
  <script src="../libraries/bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="../libraries/bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="../libraries/bower_components/angular-messages/angular-messages.js"></script>
  <script src="../libraries/bower_components/angular-animate/angular-animate.js"></script>
  <script src="../libraries/bower_components/angular-resource/angular-resource.js"></script>
  <script src="../libraries/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="../libraries/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="../libraries/bower_components/angular-translate/angular-translate.js"></script>
  <script src="../libraries/bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
  <script src="../libraries/bower_components/ng-table/ng-table.js"></script>
  <script src='//maps.googleapis.com/maps/api/js?libraries=places&sensor=false'></script>
  <script src='../libraries/isolated_libraries/lodash.underscore.js'></script>
  <script src='../libraries/isolated_libraries/ngAutocomplete.js'></script>
  <script src='../libraries/isolated_libraries/message-center.js'></script>
  <script src='../libraries/bower_components/angular-google-maps/dist/angular-google-maps.js'></script>
  <script src='../libraries/bower_components/jquery/dist/jquery.js'></script>

  <script src="app.js"></script>
  <script src="app-controllers.js"></script>
  <script src="app-directives.js"></script>
  <script src="app-services.js"></script>
  <script src="app-filters.js"></script>

  <script src="company-management/company-management.js"></script>
  <script src="company-management/company-management-controllers.js"></script>
  <script src="company-management/company-management-directives.js"></script>
  <script src="company-management/company-management-filters.js"></script>
  <script src="company-management/company-management-services.js"></script>

  <script src="company-management/basic-information/basic-information-controllers.js"></script>
  <script src="company-management/basic-information/basic-information-services.js"></script>

  <script src="business-management/business-management.js"></script>
  <script src="business-management/business-management-controllers.js"></script>
  <script src="business-management/business-management-directives.js"></script>
  <script src="business-management/business-management-filters.js"></script>
  <script src="business-management/business-management-services.js"></script>

  <script src="business-management/home-information/home-information-controllers.js"></script>
  <script src="business-management/home-information/home-information-services.js"></script>

  <script src="business-management/basic-information/basic-information-controllers.js"></script>
  <script src="business-management/basic-information/basic-information-services.js"></script>

  <script src="business-management/money-offer/money-offer-controllers.js"></script>
  <script src="business-management/money-offer/money-offer-services.js"></script>

  <script src="business-management/package-offer/package-offer-controllers.js"></script>
  <script src="business-management/package-offer/package-offer-services.js"></script>

  <script src="business-management/paperwork-offer/paperwork-offer-controllers.js"></script>
  <script src="business-management/paperwork-offer/paperwork-offer-services.js"></script>

  <script src="business-management/call-offer/call-offer-controllers.js"></script>
  <script src="business-management/call-offer/call-offer-services.js"></script>

  <script src="business-management/flight-offer/flight-offer-controllers.js"></script>
  <script src="business-management/flight-offer/flight-offer-services.js"></script>

  <script src="business-management/car-rental-offer/car-rental-offer-controllers.js"></script>
  <script src="business-management/car-rental-offer/car-rental-offer-services.js"></script>

  <script src="personal-management/personal-management.js"></script>
  <script src="personal-management/personal-management-controllers.js"></script>
  <script src="personal-management/personal-management-directives.js"></script>
  <script src="personal-management/personal-management-filters.js"></script>
  <script src="personal-management/personal-management-services.js"></script>

  <script src="personal-management/home-information/home-information-controllers.js"></script>
  <script src="personal-management/home-information/home-information-services.js"></script>

  <script src="personal-management/basic-information/basic-information-controllers.js"></script>
  <script src="personal-management/basic-information/basic-information-services.js"></script>

  <script src="personal-management/package-offer/package-offer-controllers.js"></script>
  <script src="personal-management/package-offer/package-offer-services.js"></script>

  <script src="components/region-selector/region-selector.js"></script>
  <script src="components/region-selector/region-selector-controllers.js"></script>
  <script src="components/region-selector/region-selector-directives.js"></script>
  <script src="components/region-selector/region-selector-filters.js"></script>
  <script src="components/region-selector/region-selector-services.js"></script>

  <link rel="stylesheet" type="text/css" href="../libraries/bower_components/bootstrap/dist/css/bootstrap.css"/>
  <link rel="stylesheet" type="text/css" href="../libraries/bower_components/ng-table/ng-table.css"/>
  <link rel="stylesheet" type="text/css" href="app.css"/>
</head>

<body>

<nav class="navbar navbar-inverse" role="navigation">
    <div class="container" ng-controller="appCtrl">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/">Sent2Cuba</a>
                <ul class="nav navbar-nav">
                    <li><a ui-sref="personal.home">Personal</a></li>
                    <li><a ui-sref="business.home">Company</a></li>
                </ul>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="" ng-click="switchLanguage('es_CU')" translate>GLOBAL.LANG_ES_CU</a></li>
                <li><a href="" ng-click="switchLanguage('en_US')" translate>GLOBAL.LANG_EN_US</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container" ng-controller="appCtrl">
    <div mc-messages animation="animate-repeat"></div>
    <div ui-view></div>
</div>

   
</body>
</html>