.angular-google-map-container { height: 400px; }

.s2c_overlay_container{
    position: relative;
}
.s2c_overlay{
    position: absolute; width: 100%;height: 100%; z-index: 10; background-color: white; opacity: 0.5;
}
