<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label for="currenOrig">From</label>
                    <select id="currenOrig" class="form-control" ng-model="moneyOffer.currencyOrigin" ng-options="c for c in ['USD','EUR']"></select>
                </div>
                <div class="form-group">
                    <label for="minimum">Minimum</label>
                    <input type="number" id="minimum"
                           ng-model="moneyOffer.minimum"
                           class="form-control"/>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="currenTarg">To</label>
                    <select id="currenTarg" class="form-control" ng-model="moneyOffer.currencyTarget" ng-options="c for c in ['CUC','USD', 'EUR']"></select>
                </div>
                <div class="form-group">
                    <label for="currenTarg">Maximum</label>
                    <input type="number" id="maximun"
                           ng-model="moneyOffer.maximum"
                           class="form-control"/>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="fee">Fee</label>
                    <select id="fee" class="form-control" ng-model="moneyOffer.fee" ng-options="n for n in [] | range:5:15"></select>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="moneyOffer.special">
                        Special
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="moneyOffer.active">
                        Active
                    </label>
                </div>
            </div>
            <div class="col-md-6">
                <region-selector title="Select Provinces" selected="selected" columns="3"></region-selector>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <label>Description</label>
                <textarea class="form-control" rows="3" ng-model="moneyOffer.description"></textarea>
            </div>
        </div>
        <div>
            <button class="btn btn-success pull-right " ng-click="saveMoneyOffer()">Save</button>
        </div>
  </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>
                    From
                </th>
                <th>
                    To
                </th>
                <th>
                    Fee
                </th>
                <th>
                    Min
                </th>
                <th>
                    Max
                </th>
                <th>
                    Special
                </th>
                <th>
                    Edit
                </th>
                <th>
                    Del
                </th>
            </tr>
            </thead>

            <tbody ng-show="moneyOffers == null ||moneyOffers.length == 0">
                <tr>
                    <td colspan="8">There are no offers yet</td>
                </tr>
            </tbody>

            <tbody ng-show="moneyOffers.length > 0">

            <tr ng-repeat="offer in moneyOffers"
                ng-class-even="'active'">
                <td>
                    {{offer.currencyOrigin}}
                </td>
                <td>
                    {{offer.currencyTarget}}
                </td>
                <td>
                    {{offer.fee}}
                </td>
                <td>
                    {{offer.minimum}}
                </td>
                <td>
                    {{offer.maximum}}
                </td>
                <td>
                    {{offer.special}}
                </td>
                <td>
                    <a href="" ng-click="editMoneyOffer($index)">Edit</a>
                </td>
                <td>
                    <a href="" ng-click="deleteMoneyOffer($index)">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
